@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.allContent{
    width: 1440px;
    margin: auto;
}

.logoBlock{
    margin: 21px 0px 97px 121px;
    width: 112px;
}

.iconList{
    list-style-type: none;
}

.iconList > li{
    display: inline-block;
    margin-right: 40px;
}

.iconList > li > img{
    margin-right: 5px;
}

.iconList > li > span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.iconList > li:first-child{
    margin-left: 121px;
}

/* .headerBlock{

} */

.headerBlockFirst{
    display: inline-block;
    float: left;
    margin: 30px 140px 0px 121px;
}

.headerBlockFirst > h1{
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    width: 628px;
    line-height: 81px;
    margin-bottom: 20px;
}

.headerBlockFirst > p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 414px;
    line-height: 30px;
}

.headerBlockSecond{
    display: inline-block;  
    width: 310px;  
}

/* .operator{

} */

.ellipse{
    position: relative;
    left: 30px;
    bottom: 25px;
    z-index: -1;
}

.blockOfAndrey{
    width: 420px;
    margin: 70px 0px 170px 410px;
    background-color: #1E4681;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 20px 27px;
    border-radius: 5px;
}

/* .blockOfAndreyContent{
    margin: 0px 20px;
} */

.authorsName{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: right;
    margin: 10px 0px 5px 0px;
    /* float: right; */
    /* padding: 0px 20px 30px 0px;     */
}


.aboutCourseHeader{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 0px 0px 40px 121px;
}

/* .aboutCourse{

} */

.aboutCourseInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 662px;
    margin: 0px 190px 0px 121px;
    display: inline-block;
}

.aboutCourseImg{
    display: inline-block;
    width: 315px;
}

.aboutCourseImgEllipse{
    position: relative;
    bottom: 30px;
    right: 20px;
    z-index: -1;
}

.timeDescription{
    margin: 90px 0px 0px 121px;
}

.timeDescriptionImg{
    width: 232px;
    display: inline-block;
}

.timeDescriptionImgEllipse{
    position: relative;
    z-index: -1;
    bottom: 22px;
    left: 34px;
}

/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */

.timeDescriptionList{
    display: inline-block;
    position: relative;
    bottom: 90px;
}

/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */

.timeDescriptionList > li{
    display: inline-block;
    width: 150px;
}

.timeDescriptionList >li:first-child{
    margin-left: 132px;
}

.timeDescriptionList > li{
    margin-left: 95px;
}

.timeDescriptionList > li >h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.timeDescriptionList > li > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;    
}

.lessonsFormHeader{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 140px 0px 90px 121px;
}

/* .lessonsForm{

} */

.lessonsForm > li{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0px 0px 0px 121px;
}

.lessonsForm > li > h2{
    color: #1E4681;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.lessonsForm > li > p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}