@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.allContent{
    width: 1440px;
    margin: auto;
}

.logoBlock{
    margin: 21px 0px 90px 121px;
    width: 112px;
}

.iconList{
    list-style-type: none;
}

.iconList > li{
    display: inline-block;
    margin-right: 40px;
}

.iconList > li > img{
    margin-right: 5px;
}

.iconList > li > span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.iconList > li:first-child{
    margin-left: 121px;
}

/* .headerBlock{

} */

.headerBlockFirst{
    display: inline-block;
    float: left;
    margin: 30px 140px 0px 121px;
}

.headerBlockFirst > h1{
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    width: 628px;
    line-height: 81px;
    margin-bottom: 20px;
}

.headerBlockFirst > p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 414px;
    line-height: 30px;
}

.headerBlockSecond{
    display: inline-block;  
    width: 310px;  
}

/* .operator{

} */

.ellipse{
    position: relative;
    left: 30px;
    bottom: 25px;
    z-index: -1;
}

.blockOfAndrey{
    width: 430px;
    margin: 50px 0px 170px 410px;
    background-color: #1E4681;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 20px 27px;
    border-radius: 5px;
}

/* .blockOfAndreyContent{
    margin: 0px 20px;
} */

.authorsName{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: right;
    margin: 10px 0px 5px 0px;
    /* float: right; */
    /* padding: 0px 20px 30px 0px;     */
}


.aboutCourseHeader{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 0px 0px 40px 121px;
}

/* .aboutCourse{

} */

.aboutCourseInfo{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 662px;
    margin: 0px 190px 0px 121px;
    display: inline-block;
}

.aboutCourseImg{
    display: inline-block;
    width: 315px;
}

.aboutCourseImgEllipse{
    position: relative;
    bottom: 30px;
    right: 20px;
    z-index: -1;
}

.timeDescription{
    margin: 90px 0px 0px 121px;
}

.timeDescriptionImg{
    width: 232px;
    display: inline-block;
}

.timeDescriptionImgEllipse{
    position: relative;
    z-index: -1;
    bottom: 22px;
    left: 34px;
}

/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */

.timeDescriptionList{
    display: inline-block;
    position: relative;
    bottom: 90px;
}

/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */
/* Спросить насчет вертикального центрирования */

.timeDescriptionList > li{
    display: inline-block;
    width: 150px;
}

.timeDescriptionList >li:first-child{
    margin-left: 132px;
}

.timeDescriptionList > li{
    margin-left: 95px;
}

.timeDescriptionList > li >h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.timeDescriptionList > li > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;    
}

.lessonsFormHeader{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 140px 0px 120px 121px;
}

/* .lessonsForm{

} */

.lessonsForm > li{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin: 0px 0px 0px 100px;
}

.lessonsForm > li:first-child{
    margin-left: 121px;
}

.lessonsForm > li > h2{
    color: #1E4681;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.lessonsForm > li > p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.courseAbout{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 180px 0px 50px 121px;
}

.courseAboutList{
    margin-left: 138px;
    width: 662px;

}

.courseAboutList > li{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
}

.courseProgram{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 170px 0px 100px 121px;    
}

.severalBlockContainer{
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.severalBlockContainer > div{
    margin: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.severalBlockContainer > div:last-child > h2{
    padding-bottom: 10px;
    padding-right: 0px;
    width: 379px;
}

.severalBlockContainer > div > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 39px;
    padding: 10px 20px 30px 20px;
    line-height: 29px;
}

.severalBlockContainer > div > p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 33px;
    padding: 0px 20px;
}

.severalBlockContainer > div >p:nth-child(4){
    margin-bottom: 20px;
}

.courseStudentsAmount{
    background-color: #EFEFEF;
    padding-bottom: 110px;
}

.courseStudentsAmount > h1{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 140px 0px 70px 121px;
    padding-top: 90px;
}

.courseStudentsAmount > div{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 700px;
    margin: 0px 0px 0px 125px;
    padding: 45px 45px 15px 45px;
    border-radius: 30px;
}

.courseStudentsAmount > div > p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.courseStudentsAmount > div > h2{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 110px;
    left: 10px;
}

.ekaterinaImg{
    margin: 0px;
}

.facebookIcon{
    position: relative;
    right: 310px;
    bottom: 40px;
}

.coursePriceAndAbout{
    background-color: #9DC9C8;
}

.coursePriceAndAbout > h1{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    margin: 0px 0px 60px 121px;
    padding-top: 121px;
}

.coursePriceAndAbout > span{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 25px;
    margin: 0px 0px 0px 121px;
}

.coursePriceAndAbout > p{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin: 0px 0px 0px 121px
}

.coursePriceAndAbout > div{
    margin: 60px 0px 0px 121px
}

.coursePriceAndAbout > div > div{
    display: inline-block;
    width: 300px;
    margin-right: 70px;
    padding-bottom: 190px;
}

.coursePriceAndAbout > div > div > h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.coursePriceAndAbout > div > div > p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.footerBlock{
    background-color: black;
}

.footerBlock > p{
    color: white;
    margin: 150px 0px 0px 121px;
    padding-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.footerBlockFirstColumn{
    display: inline-block;
}

.footerBlockFirstColumn > img:nth-child(2){
    margin-left: 121px;
}

.footerBlockFirstColumn > img{
    margin-right: 20px;
}

.footerBlockSecondColumn{
    display: inline-block;
    float: right;
    margin: 60px 180px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.footerBlockSecondColumn > p{
    color: white;
    line-height: 25px;
    margin-bottom: 20px;
}

.footerBlockSecondColumn > p > img{
    margin-right: 20px;
}

.footerLogo{
    display: block;
    margin: 50px 0px 30px 121px;    
}

/* ////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////
//////////////////////////////////////////////// */



@media ( max-width: 834px ){

.logoBlock{
    margin: 22px 0px 55px 70px;
    width: 65px;
}   

.iconList > li{
    margin-right: 15px;         
}

.iconList > li:first-child{
    margin-left: 70px;
}

.iconList > li > img{
    width: 12px;
}

.iconList > li > span{
    font-size: 12px;
}

.headerBlockFirst{
    margin: 0px 0px 0px 70px;
}

.headerBlockFirst > h1{
    font-size: 46px;
    width: 360px;
    line-height: 46px;
}

.headerBlockFirst > p{
    font-size: 12px;
    line-height: 18px;
    width: 264px;
}

.headerBlockSecond{
    margin-left: 80px;
}

.operator{
    width: 176px;
}

.ellipse{
    width: 160px;
    bottom: 17px;
    left: 25px;
}

.blockOfAndrey{
    width: 235px;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 25px;
    margin: 40px 0px 0px 237px;
}

.authorsName{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0px;
}

.aboutCourseHeader{
    font-size: 32px;
    line-height: 32px;
    margin: 100px 0px 10px 70px;
}

.aboutCourseInfo{
    font-size: 14px;
    line-height: 21px;
    width: 383px;
    margin: 10px 110px 55px 70px;
}

.aboutCourseImg{
    width: 212px;

}

.aboutCourseImgOperator{
    width: 181px;
}

.aboutCourseImgEllipse{
    width: 211px;
    bottom: 22px;
}

.timeDescription{
    margin: 0px 0px 100px 70px;
}

.timeDescriptionImg{
    width: 134px;
}

.timeDescriptionImgOperator{
    width: 134px;
}

.timeDescriptionImgEllipse{
    width: 110px;
    left: 20px;
    bottom: 14px;
}

.timeDescriptionList{
    bottom: 60px;
}

.timeDescriptionList > li{
    width: 100px;
}

.timeDescriptionList > li >h3{
    font-size: 15px;
    line-height: 19pxs;
}

.timeDescriptionList > li > p{
    font-size: 11px;
    line-height: 14px;    
}

.timeDescriptionList >li:first-child{
    margin-left: 70px;
}

.timeDescriptionList > li{
    margin-left: 55px;
}

.lessonsFormHeader{
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 60px 70px;
}

.lessonsForm > li{
    width: 170px;
    margin-left: 50px;
}

.lessonsForm > li:first-child{
    margin-left: 70px;
}

.lessonsForm > li > h2{
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
}

.lessonsForm > li > p{
    font-size: 11px;
    line-height: 14px;
}

.courseAbout{
    font-size: 32px;
    line-height: 32px;
    margin: 145px 0px 30px 70px;
}

.courseAboutList{
    margin-left: 80px;
    width: 383px;

}

.courseAboutList > li{
    font-size: 14px;
    line-height: 21px;
}

.courseProgram{
    font-size: 32px;
    line-height: 32px;
    margin: 140px 0px 55px 70px;    
}

.severalBlockContainer{
    width: 734px;
    margin: 0px 50px;
}

.severalBlockContainer > div > img{
    width: 231px;
}

.severalBlockContainer > div{
    width: 231px;
    margin: 20px 0px 0px 13px;
    border-radius: 17px;
}

.severalBlockContainer > div:last-child > h2{
    width: 200px;
}

.severalBlockContainer > div > h2{
    font-size: 17px;
    line-height: 22px;
    padding: 10px 20px 18px 20px;
}

.severalBlockContainer > div > p{
    font-size: 14px;
    line-height: 18px;
}

.courseStudentsAmount{
    padding-bottom: 60px;
}

.courseStudentsAmount > h1{
    font-size: 32px;
    line-height: 32px;
    margin: 52px 0px 20px 70px;
    padding-top: 50px;
}

.courseStudentsAmount > div{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    width: 405px;
    margin: 40px 0px 0px 70px;
    padding: 23px 27px 15px 27px;
    border-radius: 17px;
}

.courseStudentsAmount > div > p{
    font-size: 12px;
    line-height: 18px;
}

.courseStudentsAmount > div > h2{
    font-size: 17px;
    line-height: 17px;
    bottom: 60px;
    left: 5px;
}

.ekaterinaImg{
    width: 110px;
}

.facebookIcon{
    width: 18px;
    right: 180px;
    bottom: 20px;
}

.coursePriceAndAbout > h1{
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 30px 70px;
    padding-top: 100px;
}

.coursePriceAndAbout > span{
    font-size: 14px;
    line-height: 14px;
    margin: 0px 0px 0px 70px;
}

.coursePriceAndAbout > p{
    font-size: 46px;
    line-height: 46px;
    margin: 0px 0px 0px 70px
}

.coursePriceAndAbout > div{
    margin: 60px 0px 0px 70px
}

.coursePriceAndAbout > div > div{
    width: 170px;
    margin-right: 40px;
    padding-bottom: 110px;
}

.coursePriceAndAbout > div > div > h3{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}

.coursePriceAndAbout > div > div > p{
    font-size: 10px;
    line-height: 10px;
}
































.footerBlock{
}

.footerBlock > p{
    margin: 65px 0px 0px 70px;
    padding-bottom: 15px;
    font-size: 10px;
    line-height: 10px;
}

.footerBlockFirstColumn{
 
}

.footerBlockFirstColumn > img:nth-child(2){
    margin-left: 70px;
}

.footerBlockFirstColumn > img{
    margin-right: 10px;
}

.footerBlockFirstColumn > img:first-child{
    width: 67px;
}

.footerBlockFirstColumn > img{
    width: 20px;
}

.footerBlockSecondColumn{
    /* margin: 0px 0px 0px 380px; */
    position: relative;
    left: 359px;
    top: -40px;
    font-size: 25px;
    float: none;
}

.footerBlockSecondColumn > p{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}

.footerBlockSecondColumn > p > img{
    margin-right: 20px;
    width: 15px;
}

.footerLogo{
    margin: 30px 0px 20px 70px;    
}

}